# This may be a useful resource when looking at configuration files:
# https://github.com/awsdocs/elastic-beanstalk-samples
#
container_commands:
  01_setup_apache:
    # Setup gzip compression on apache server by copying enable_deflate.conf into appropriate directory.
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  03_virtualenv:
    command: "rm -rf venv"
    command: "virtualenv -p python3 venv"
    command: "source venv/bin/activate"
    command: "pip install -r requirements.txt"
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
  05_migrate:
    command: "django-admin.py migrate"
    leader_only: true

 
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango/wsgi.py
    NumProcesses: '3'
    NumThreads: '15'
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "static/"
