{% extends 'base.html' %}

{% load static %}
{% load global_functions %}

{% block head_title %}
    <title>Training - {{ group.title }}</title>
{% endblock %}

{% block meta_description_keywords %}
        <meta name="description" content="Training Group {{ group.title }}">
        <meta name="keywords" content="Mark,Wilson,HTML,CSS,JavaScript/JQuery,Training,{{ group.title }}">
{% endblock %}

{% block styles %}

    <!-- Custom App Styles -->
    <link href="{% static "Training/css/style.css" %}" rel="stylesheet">
    <link href="{% static "Training/css/responsive.css" %}" rel="stylesheet">

{% endblock %}

{% block main %}
        

    <!--====== Portfolio / Training ======-->
    <section  class="section-padding secton-border"  id="portfolio">

        <h1 class="section-title">{{ group.title }}</h1>

        <!-- MJW - Only add this if we have more than 1 sub category -->
        <div class="container">
            <div class="row">

                <div class="training-border mx-auto">

                    <div class="container">
                        <div class="row justify-content-center">
            
                            {% for course in courses %}

                                <div class="col-lg-4 col-sm-6 grid-item">
                                    <div class="training-card p-2">

                                        <div class="card border border-0 bg-white text-white">
                                            <img class="card-img img-pm rounded-lg rounded-top" src="{% static 'Training/img/'|addstr:course.img %}" alt="Card image">
                                            <div class="card-img-overlay rounded-lg rounded-top d-flex">
                                                <div class="align-self-center mx-auto">
                                                    <a href="{% url 'training_detail' course.id %}" class="training-button">View</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="training-title-wrap pb-1">
                                            <div class="training-title py-2">
                                                <h6 class="text-center">{{ course.title }}</h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            {% endfor %}
            
                        </div>
                        <!--/row-->
                    </div>
                    <!--/container-->
                </div>
                 <!--/training-border-->
            </div>
             <!--/row-->
        </div>
        <!--/container-->

    </section>

{% endblock main %}

{% block base_scripts %}

{% endblock %}