{% extends 'base.html' %}

{% load static %}

{% block head_title %}
    <title>Success contacting Mark Wilson</title>
{% endblock %}

{% block meta_description_keywords %}
        <meta name="description" content="Successful contact page for Mark Wilson">
        <meta name="keywords" content="Mark,Wilson,HTML,CSS,JavaScript/JQuery,Home,Success,Contact,ContactMe">
{% endblock %}

{% block styles %}

    <!-- Custom App Styles -->
    <link href="{% static 'ContactMe/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'ContactMe/css/responsive.css' %}" rel="stylesheet">

    <style>
        /*
        There is another version of this in ebdjango to allow global scalling etc.   This 
        is to allow us to adjust the image per section       
        */
        .back_image_paral{
            background-image: url("{% static 'ContactMe/img/background.jpg' %}");
        }
    </style>

{% endblock %}

{% block main %}

    <div class="p-container">
        <section>
            <div class="image back_image_paral bg_scroll" data-type="background" data-speed="2"></div>
            <div class="stuff" data-type="content" data-speed="100"><h1>Thank you</h1></div>
        </section>
    </div>


    <!-- ====== Start Contact ======  -->
    <section class="section-padding-top"  id="success">

        <div class="container">
            <div class="row success-content">
                I appreciate you contacting me. &nbsp;While I do my best to answer your queries 
                quickly, it may take some time for you to receive a response. &nbsp;Thanks in advance for 
                your patience. &nbsp;Have a great day!
            </div>
        </div>
        <!-- ./ Container -->
    </section>
    <!-- ======./ Contact ======  -->

{% endblock %}

{% block base_scripts %}

{% endblock %}