{% extends 'base.html' %}

{% load static %}
{% load global_functions %}

{% block head_title %}
    <title>Group - {{ language.title }}</title>
{% endblock %}

{% block meta_description_keywords %}
        <meta name="description" content="Project Group - {{ language.title }}">
        <meta name="keywords" content="Mark,Wilson,HTML,CSS,JavaScript/JQuery,Language,{{ language.title }}">
{% endblock %}

{% block styles %}

    <!-- Custom App Styles -->
    <link href="{% static 'MyProjects/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'MyProjects/css/responsive.css' %}" rel="stylesheet">

    <style>
        /*
        There is another version of this in ebdjango to allow global scalling etc.   This 
        is to allow us to adjust the image per section       
        */
        .back_image_paral{
            background-image: url("{% static 'MyProjects/img/background.jpg' %}");
        }
    </style>

{% endblock %}

{% block main %}

    <div class="p-container">
        <section>
            <div class="image back_image_paral bg_scroll" data-type="background" data-speed="2"></div>
            <div class="stuff" data-type="content" data-speed="100"><h1>{{ language.title }}</h1></div>
        </section>
    </div>

    <!--====== Portfolio / Projects ======-->
    <section  class="section-padding-top secton-border"  id="portfolio">

        <!-- MJW - Only add this if we have more than 1 sub category -->
        <div class="container">
            <div class="row">

                <div class="project-border mx-auto">

                    <div class="container">
                        <div class="row justify-content-center">
            
                            {% for project in projects %}

                                <div class="col-lg-4 col-sm-6 col-xs-12 grid-item u--slideInRight">
                                    <div class="project-card p-2">

                                        <a href="{% url 'project_detail' project.id %}"> 
                                            <div class="card border border-0 bg-white text-white">
                                                <img class="card-img img-pm rounded-lg rounded-top" src="{% static 'MyProjects/img/'|addstr:project.img %}" alt="Card image">
                                                
                                                <div class="card-img-overlay rounded-lg rounded-top d-flex justify-content-center align-items-center">

                                                    <!--<span class="d-flex justify-content-center align-items-center project-button">-->
                                                        <i class="fa fa-link fa-flip-horizontal"></i>
                                                    <!--</span>-->
    
                                                </div>

                                            </div>
                                        </a>

                                        <div class="project-title-wrap pb-1">
                                            <div class="project-title py-2">
                                                <h6 class="text-center">{{ project.title }}</h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            {% endfor %}
            
                        </div>
                        <!--/row-->
                    </div>
                    <!--/container-->
                </div>
                 <!--/project-border-->
            </div>
             <!--/row-->
        </div>
        <!--/container-->

    </section>

{% endblock main %}

{% block base_scripts %}

{% endblock %}