{% extends 'base.html' %}

{% load static %}

{% block head_title %}
    <title>Mark Wilson - 400</title>
{% endblock %}

{% block meta_description_keywords %}
        <meta name="description" content="Error Page 400">
        <meta name="keywords" content="Mark,Wilson,HTML,CSS,JavaScript/JQuery,400">
{% endblock %}

{% block main %}


    <!-- ====== Start Contact ======  -->
    <section class="section-padding"  id="success">

        <!-- Section Title -->
        <h1 class="section-title"><span>Sorry</span></h1>

        <div class="container">
            <div class="row">
                <div class="col-*-12 numerror-content text-center">
                    Your request resulted in an error - Error 400
                </div>
            </div>
        </div>
        <!-- ./ Container -->
    </section>
    <!-- ======./ Contact ======  -->

{% endblock %}