{% extends 'base.html' %}

{% load static %}

{% block head_title %}
    <title>Mark Wilson - 404</title>
{% endblock %}

{% block meta_description_keywords %}
        <meta name="description" content="Error Page 404">
        <meta name="keywords" content="Mark,Wilson,HTML,CSS,JavaScript/JQuery,404">
{% endblock %}

{% block styles %}

    <style>
        /*
        There is another version of this in ebdjango to allow global scalling etc.   This 
        is to allow us to adjust the image per section       
        */
        .back_image_paral{
            background-image: url("{% static 'AboutMe/img/background_6.jpg' %}");
        }
    </style>

{% endblock %}

{% block main %}

    <div class="p-container">
        <section>
            <div class="image back_image_paral bg_scroll" data-type="background" data-speed="2"></div>
            <div class="stuff" data-type="content" data-speed="100"><h1>Training</h1></div>
        </section>
    </div>

    <!-- ====== Start Contact ======  -->
    <section class="section-padding"  id="success">

        <!-- Section Title -->
        <h1 class="section-title"><span>Sorry</span></h1>

        <div class="container">
            <div class="row">
                <div class="col-*-12 numerror-content text-center">
                    I could not find that page. &nbsp;&nbsp;Please try searching or going to my home page - Error 404
                </div>
            </div>
        </div>
        <!-- ./ Container -->
    </section>
    <!-- ======./ Contact ======  -->

{% endblock %}